.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .abc{
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.btnDiv{
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  border-radius: 5%;
  background-color: #dee0ee;
}

.btn{
  border-radius: 3px ;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  width:45px;
  height:40px;
  background: #dee0ee;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  font-size: 20px;

}

.btn:hover{
  background: #575b71;
  color: #fff;
}

.counter{
  height: 40px;
  background: #fff;
}


